<a href="https://colab.research.google.com/github/dajebbar/1.exploratory-data-analysis-MLR/blob/master/simpleImputer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install opendatasets --upgrade --quiet

In [2]:
import opendatasets as od
import os

od.version()
url = 'https://www.kaggle.com/jsphyg/weather-dataset-rattle-package'
od.download(url)


data_dir = 'weather-dataset-rattle-package'

os.listdir(data_dir)
train_csv = data_dir + '/weatherAUS.csv'

Skipping, found downloaded files in "./weather-dataset-rattle-package" (use force=True to force download)

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
import missingno as msno
import warnings
warnings.filterwarnings("ignore")

plt.style.use('fivethirtyeight')
%matplotlib inline

In [4]:
raw_df = pd.read_csv(train_csv)

categorical_column = ['Location','WindGustDir', 'WindDir9am', 
                      'WindDir3pm',  'RainToday']
numerical_column = ['MinTemp', 'MaxTemp', 'Sunshine', 'WindSpeed9am', 
                    'Pressure3pm', 'Temp9am', 'Temp3pm', 'Cloud3pm' ]

target_column = 'RainTomorrow'
year = pd.to_datetime(raw_df.Date).dt.year
date = 'Date'

df = raw_df[categorical_column + numerical_column + [target_column]]
df.head()

  Location WindGustDir WindDir9am  ... Temp3pm Cloud3pm  RainTomorrow
0   Albury           W          W  ...    21.8      NaN            No
1   Albury         WNW        NNW  ...    24.3      NaN            No
2   Albury         WSW          W  ...    23.2      2.0            No
3   Albury          NE         SE  ...    26.5      NaN            No
4   Albury           W        ENE  ...    29.7      8.0            No

[5 rows x 14 columns]

## Dealing with Nan's

In [5]:
df[numerical_column].isna().sum()

MinTemp          1485
MaxTemp          1261
Sunshine        69835
WindSpeed9am     1767
Pressure3pm     15028
Temp9am          1767
Temp3pm          3609
Cloud3pm        59358
dtype: int64

In [6]:
df[categorical_column].isna().sum()

Location           0
WindGustDir    10326
WindDir9am     10566
WindDir3pm      4228
RainToday       3261
dtype: int64

In [7]:
df[target_column].isna().any()

True

In [8]:
df2 = df.copy()

In [9]:
df2.dropna(subset=[target_column, 'RainToday'], inplace=True)

In [10]:
df2[target_column].isna().sum()

0

### Imputing Missing Numeric Data

In [11]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy='mean')
# impute the original dataframe
imputer.fit(df2[numerical_column])

SimpleImputer()

In [12]:
df2[numerical_column].isna().sum()

MinTemp           468
MaxTemp           307
Sunshine        66805
WindSpeed9am     1055
Pressure3pm     13769
Temp9am           656
Temp3pm          2624
Cloud3pm        56094
dtype: int64

In [13]:
df2[numerical_column].sample(15)

        MinTemp  MaxTemp  Sunshine  ...  Temp9am  Temp3pm  Cloud3pm
96701       7.0     16.0       4.6  ...     10.9     15.8       NaN
122564     16.3     39.1      12.6  ...     29.0     37.9       2.0
10127      21.3     26.5       6.4  ...     24.6     24.8       7.0
125089     -1.5     20.0       NaN  ...     10.2     19.4       NaN
14953      19.7     35.8       NaN  ...     23.6     33.7       NaN
62551       8.9     33.0       6.7  ...     21.8     30.6       8.0
72465      13.2     34.8      11.1  ...     20.7     31.8       5.0
80213      10.0     18.6       7.6  ...     11.4     18.1       3.0
55774      12.1     20.1       NaN  ...     13.2     19.3       1.0
89161      13.8     26.3       9.1  ...     20.7     24.1       5.0
91082      20.2     33.2       NaN  ...     28.7     32.8       NaN
104547     10.0     16.9       2.1  ...     13.0     14.7       7.0
45414      18.3     25.0       NaN  ...     21.6     23.4       NaN
101952      5.4     19.9       4.1  ...     11.8     17.4       7.0
9627        9.6     18.6       5.5  ...     15.5     17.7       3.0

[15 rows x 8 columns]

In [14]:
for col in numerical_column:
  df2[col].fillna(df2[col].mean(), inplace=True)

df2[numerical_column].sample(15)

        MinTemp  MaxTemp  Sunshine  ...  Temp9am  Temp3pm  Cloud3pm
72496      22.6     42.3  13.10000  ...     30.4     41.8   1.00000
103836      6.6     13.5   7.60000  ...      8.6     12.9   5.00000
116937      8.4     17.7   8.20000  ...     12.3     17.3   5.00000
138412     -1.0     17.4  10.60000  ...      7.4     16.3   0.00000
106822      3.9     15.5   7.63054  ...      7.7     13.5   2.00000
84606      20.8     29.3   5.80000  ...     25.1     27.3   7.00000
117993     15.2     27.6  12.10000  ...     21.0     25.3   0.00000
63900       5.6     22.7   7.63054  ...     12.8     20.9   1.00000
123573      8.9     26.2  11.80000  ...     17.0     25.5   0.00000
88966      19.9     32.0  12.10000  ...     28.6     30.8   1.00000
114023     14.6     21.8   7.63054  ...     17.7     20.3   4.49925
61777       3.3     16.8   8.90000  ...     15.1     13.0   6.00000
87432      21.1     28.5   7.20000  ...     24.7     26.4   2.00000
95166      19.1     29.8  10.60000  ...     25.9     27.9   2.00000
62406       5.6     13.5   5.20000  ...      7.8     13.2   3.00000

[15 rows x 8 columns]

In [15]:
df2[numerical_column].isna().sum()

MinTemp         0
MaxTemp         0
Sunshine        0
WindSpeed9am    0
Pressure3pm     0
Temp9am         0
Temp3pm         0
Cloud3pm        0
dtype: int64

## Encoding Categorical data

In [16]:
df2[categorical_column].isna().sum()

Location          0
WindGustDir    9163
WindDir9am     9660
WindDir3pm     3670
RainToday         0
dtype: int64

In [17]:
df2[categorical_column].fillna('Unknown', inplace=True)
df2[categorical_column].isna().sum()

Location          0
WindGustDir    9163
WindDir9am     9660
WindDir3pm     3670
RainToday         0
dtype: int64

In [18]:
df2[categorical_column].sample(15)

                Location WindGustDir WindDir9am WindDir3pm RainToday
13038              Moree           W          W          W       Yes
8124               Cobar          SE          N        NNW        No
58361            Bendigo         NaN         SE         NE        No
27289           Richmond         ESE         NE        NaN        No
23702      NorfolkIsland          SE        ESE        ESE       Yes
87295             Cairns         SSE        SSE        SSE       Yes
52781        MountGinini           N        SSW        NNW        No
140826            Darwin          SE        ESE        ENE        No
94834         Townsville         ENE          S        ENE        No
57293           Ballarat         WSW        NNE          N        No
128412           Walpole          NW         NW        WNW       Yes
46946           Canberra         ENE        SSE          E        No
64772   MelbourneAirport         WSW          W        WSW       Yes
29128           Richmond         SSW        SSW          S       Yes
18719          NorahHead           S        WSW        SSE        No

In [19]:
from sklearn.preprocessing import (
    MinMaxScaler,
    OneHotEncoder,
)
from sklearn.compose import ColumnTransformer

num_transformer = MinMaxScaler()
cat_transformer = OneHotEncoder(handle_unknown='ignore', sparse=False)

transformer = ColumnTransformer([
                                 ('one-hot', 
                                  cat_transformer, 
                                  categorical_column),
                                 ('min-max-scaler', 
                                  num_transformer, 
                                  numerical_column)
])

In [20]:
df2.head(2)

  Location WindGustDir WindDir9am  ... Temp3pm Cloud3pm  RainTomorrow
0   Albury           W          W  ...    21.8  4.49925            No
1   Albury         WNW        NNW  ...    24.3  4.49925            No

[2 rows x 14 columns]

In [21]:
X_train = df2[year < 2015]
X_test = df2[year >= 2015]
y_train = df2[year < 2015][target_column]
y_test = df2[year >= 2015][target_column]

X_train.shape, X_test.shape, y_train.shape, y_test.shape

((97988, 14), (42799, 14), (97988,), (42799,))

In [22]:
X_train[numerical_column].isna().sum()

MinTemp         0
MaxTemp         0
Sunshine        0
WindSpeed9am    0
Pressure3pm     0
Temp9am         0
Temp3pm         0
Cloud3pm        0
dtype: int64

In [23]:
X_test[numerical_column].isna().sum()

MinTemp         0
MaxTemp         0
Sunshine        0
WindSpeed9am    0
Pressure3pm     0
Temp9am         0
Temp3pm         0
Cloud3pm        0
dtype: int64

In [24]:
X_train[categorical_column].isna().sum()

Location          0
WindGustDir    6868
WindDir9am     7019
WindDir3pm     1952
RainToday         0
dtype: int64

In [25]:
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression

model = Pipeline([
                  ('processor', transformer),
                  ('classifier', LogisticRegression(max_iter=300))

])

model.fit(X_train, y_train)

Pipeline(steps=[('processor',
                 ColumnTransformer(transformers=[('one-hot',
                                                  OneHotEncoder(handle_unknown='ignore',
                                                                sparse=False),
                                                  ['Location', 'WindGustDir',
                                                   'WindDir9am', 'WindDir3pm',
                                                   'RainToday']),
                                                 ('min-max-scaler',
                                                  MinMaxScaler(),
                                                  ['MinTemp', 'MaxTemp',
                                                   'Sunshine', 'WindSpeed9am',
                                                   'Pressure3pm', 'Temp9am',
                                                   'Temp3pm', 'Cloud3pm'])])),
                ('classifier', LogisticRegression(max_iter=300))])

In [28]:
for p in model.get_params():
  print(p)

memory
steps
verbose
processor
classifier
processor__n_jobs
processor__remainder
processor__sparse_threshold
processor__transformer_weights
processor__transformers
processor__verbose
processor__verbose_feature_names_out
processor__one-hot
processor__min-max-scaler
processor__one-hot__categories
processor__one-hot__drop
processor__one-hot__dtype
processor__one-hot__handle_unknown
processor__one-hot__sparse
processor__min-max-scaler__clip
processor__min-max-scaler__copy
processor__min-max-scaler__feature_range
classifier__C
classifier__class_weight
classifier__dual
classifier__fit_intercept
classifier__intercept_scaling
classifier__l1_ratio
classifier__max_iter
classifier__multi_class
classifier__n_jobs
classifier__penalty
classifier__random_state
classifier__solver
classifier__tol
classifier__verbose
classifier__warm_start

In [29]:
from sklearn.model_selection import RandomizedSearchCV
from scipy.stats import loguniform


param_distributions = {
    'classifier__C': loguniform(1e-6, 1e3),
}

model_random_search = RandomizedSearchCV(model,
                                         param_distributions=param_distributions,
                                         n_jobs=-1,
                                         cv=3,
                                         verbose=1)

model_random_search.fit(X_train, y_train)

Fitting 3 folds for each of 10 candidates, totalling 30 fits

RandomizedSearchCV(cv=3,
                   estimator=Pipeline(steps=[('processor',
                                              ColumnTransformer(transformers=[('one-hot',
                                                                               OneHotEncoder(handle_unknown='ignore',
                                                                                             sparse=False),
                                                                               ['Location',
                                                                                'WindGustDir',
                                                                                'WindDir9am',
                                                                                'WindDir3pm',
                                                                                'RainToday']),
                                                                              ('min-max-scaler',
                                                                               MinMaxScaler(),
                                                                               ['MinTemp',
                                                                                'MaxTemp',
                                                                                'Sunshine',
                                                                                'WindSpeed9am',
                                                                                'Pressure3pm',
                                                                                'Temp9am',
                                                                                'Temp3pm',
                                                                                'Cloud3pm'])])),
                                             ('classifier',
                                              LogisticRegression(max_iter=300))]),
                   n_jobs=-1,
                   param_distributions={'classifier__C': <scipy.stats._distn_infrastructure.rv_frozen object at 0x7f35e5455b10>},
                   verbose=1)

In [30]:
accuracy = model_random_search.score(X_test, y_test)
print(f"The test accuracy score of the best model is "
      f"{accuracy:.2f}")

The test accuracy score of the best model is 0.82

In [31]:
from pprint import pprint

print("The best parameters are:")
pprint(model_random_search.best_params_)

The best parameters are:
{'classifier__C': 0.0342004168997849}

In [32]:
def shorten_param(param_name):
    if "__" in param_name:
        return param_name.rsplit("__", 1)[1]
    return param_name

# get the parameter names
column_results = [
    f"param_{name}" for name in param_distributions.keys()]
column_results += [
    "mean_test_score", "std_test_score", "rank_test_score"]

cv_results = pd.DataFrame(model_random_search.cv_results_)
cv_results = cv_results[column_results].sort_values(
    "mean_test_score", ascending=False)
cv_results = cv_results.rename(shorten_param, axis=1)
cv_results

            C  mean_test_score  std_test_score  rank_test_score
0      0.0342         0.806262        0.009289                1
1    0.005469         0.805456        0.004535                2
4    0.002487         0.801374        0.003110                3
8    0.001121         0.797118        0.001764                4
3    17.40336         0.782300        0.045532                5
2  580.533397         0.778330        0.049037                6
5    0.000142         0.777544        0.000003                7
6    0.000002         0.777544        0.000003                7
7    0.000005         0.777544        0.000003                7
9    0.000004         0.777544        0.000003                7

In [41]:
import plotly.express as px

fig = px.parallel_coordinates(
    cv_results.rename(shorten_param, axis=1).apply({
        "C": lambda x: x,
        "mean_test_score": lambda x: x}),
    color="mean_test_score",
    color_continuous_scale=px.colors.sequential.Viridis,
)
fig.show()